affine               
alabaster            
appdirs              
applaunchservices    
appnope              
argh                 
astroid              
async_generator      
atomicwrites         
attrs                
autopep8             
babel                
backcall             
backports               
basemap              
black                
bleach               
boost-cpp            
brotlipy             
bzip2                
c-ares               
ca-certificates      
cairo                
certifi              
cffi                 
cfitsio              
cftime               
chardet              
click                
click-plugins        
cligj            
cloudpickle      
colorama         
cryptography     
curl             
cycler           
dataclasses      
dbus             
decorator        
defusedxml       
diff-match-patch 
docutils         
entrypoints      
expat            
fiona==1.8.17           
flake8           
fontconfig       
freetype         
freexl           
future           
gdal             
geopandas==0.8.1      
geos             
geotiff          
gettext          
giflib           
glib             
glib-tools       
hdf4             
hdf5             
helpdev          
icu              
idna             
imagesize        
importlib-metadat
importlib_metadat
intervaltree     
ipykernel        
ipython          
ipython_genutils 
isort            
jedi             
jinja2           
jpeg             
json-c           
jsonschema       
jupyter_client   
jupyter_core     
jupyterlab_pygmen
kealib           
keyring          
kiwisolver       
krb5             
lazy-object-proxy
lcms2            
libblas          
libcblas         
libclang         
libcurl          
libcxx           
libdap4          
libedit          
libev            
libffi           
libgdal          
libgfortran      
libgfortran5     
libglib          
libiconv         
libkml           
liblapack        
libllvm10        
libllvm11        
libnetcdf        
libnghttp2       
libopenblas      
libpng           
libpq            
libsodium        
libspatialindex  
libspatialite    
libssh2          
libtiff          
libwebp-base     
libxml2          
llvm-openmp      
llvmlite         
lz4-c            
markupsafe       
matplotlib-base  
mccabe           
mistune          
munch            
mypy_extensions  
mysql-common     
mysql-libs       
nbclient         
nbconvert        
nbformat         
ncurses          
nest-asyncio     
netcdf4          
nspr             
nss              
numba            
numpy            
numpydoc         
olefile          
openjpeg         
openssl          
packaging        
pandas           
pandoc           
pandocfilters    
parso            
pathspec         
pcre             
pexpect          
pickleshare      
pillow           
pip              
pixman           
pluggy           
poppler          
poppler-data     
postgresql       
proj             
prompt-toolkit   
psutil           
ptyprocess       
pycodestyle      
pycparser        
pydocstyle       
pyflakes         
pygments         
pylint           
pyls-black       
pyls-spyder      
pyopenssl        
pyparsing        
pyproj==2.6.1.post1         
pyqt             
pyqt-impl        
pyqt5-sip        
pyqtchart        
pyqtwebengine    
pyrsistent       
pyshp            
pysocks          
python           
python-dateutil  
python-jsonrpc-se
python-language-s
python.app       
python_abi       
pytz             
pyyaml           
pyzmq            
qdarkstyle       
qt               
qtawesome        
qtconsole        
qtpy             
# rasterio         
readline         
regex            
requests         
rope             
rtree            
scipy            
setuptools       
shapely          
six              
snowballstemmer  
snuggs           
sortedcontainers 
sphinx           
sphinxcontrib-applehelp   
sphinxcontrib-devhelp     
sphinxcontrib-htmlhelp    
sphinxcontrib-jsmath      
sphinxcontrib-qthelp      
sphinxcontrib-serializinghtml              
spyder             
spyder-kernels     
sqlite             
testpath           
textdistance       
three-merge        
tiledb             
tk                 
toml               
tornado            
traitlets          
typed-ast          
typing_extensions  
tzcode             
ujson              
urllib3            
watchdog           
wcwidth            
webencodings       
wheel              
wrapt              
wurlitzer          
xerces-c           
xz                 
yaml               
yapf               
zeromq             
zipp               
zlib               
zstd               